---
controller_credentials:
{#
#   - name: "{{ orgs }}-{{ env }}-AUTOMATION-HUB-COMMUNITY-REPOSITORY"
#     description: ""
#     credential_type: "Ansible Galaxy/Automation Hub API Token"
#     organization: "{{ orgs }}"
#     inputs:
#       url: "https://xcum2idas010.pre.npro.onpremise.es.bs/api/galaxy/content/community/"
#       token: "ToDo"
# 
#   - name: "{{ orgs }}-{{ env }}-AUTOMATION-HUB-PUBLISHED-REPOSITORY"
#     description: ""
#     credential_type: "Ansible Galaxy/Automation Hub API Token"
#     organization: "{{ orgs }}"
#     inputs:
#       url: "https://xcum2idas010.pre.npro.onpremise.es.bs/api/galaxy/content/published/"
#       token: "ToDo"
# 
#   - name: "{{ orgs }}-{{ env }}-AUTOMATION-HUB-RH-CERTIFIED-REPOSITORY"
#     description: ""
#     credential_type: "Ansible Galaxy/Automation Hub API Token"
#     organization: "{{ orgs }}"
#     inputs:
#       url: "https://xcum2idas010.pre.npro.onpremise.es.bs/api/galaxy/content/rh-certified/"
#       token: "ToDo"
#}
  - name: "{{ organization_name }}-{{ env }}-AAP-CREDENTIAL"
    description: "{{ organization_name }} {{ env }} Ansible Automation Platform Credential"
    credential_type: "Red Hat Ansible Automation Platform"
    organization: "{{ organization_name }}"
    inputs:
      host: "ToDo"
      username: "ToDo"
      password: "ToDo"
      verify_ssl: true
  - name: "{{ organization_name }}-{{ env }}-VAULT-CREDENTIAL"
    description: "{{ organization_name }} {{ env }} Vault Credential"
    credential_type: "Vault"
    organization: "{{ organization_name }}"
    inputs:
      vault_password: "ToDo"

  - name: "{{ organization_name }}-{{ env }}-GITLAB-API-TOKEN"
    description: "{{ organization_name }} {{ env }} GitLab API Token"
    credential_type: "GitLab API Token"
    organization: "{{ organization_name }}"
    inputs:
      gitlab_token: "ToDo"
      gitlab_email: "ToDo"
      gitlab_user: "ToDo"
{#
#   - name: "{{ orgs }}-{{ env }}-GITLAB-CREDENTIAL"
#     description: "{{ orgs }} {{ env }} Gitlab Credential"
#     credential_type: "Source Control"
#     organization: "{{ orgs }}"
#     inputs:
#       username: 'aap-demo'
#       ssh_key_data: |
#         -----BEGIN OPENSSH PRIVATE KEY-----
#         ToDo
#         -----END OPENSSH PRIVATE KEY-----
# 
#}
...
